.tauler{
    width: 250px;
    height: 250px;
    background: rgba(128, 128, 128, 0.466);
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    align-items: center;
}

.casella{
    width: 50px;
    height: 50px;
    background: gray;
}

.vermella{
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 50%;
}

.verda{
    width: 50px;
    height: 50px;
    background: green;
    border-radius: 50%;
}

#button{
    height: 200px;
    width: 200px;
}