h1{
    text-align: center;
}
.contenidor{
    display: flex;
    justify-content: space-around;
}
.targeta{
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

.heroi{
    height: 30px;
    background-color: aqua;
    text-align: center;
}

.poders{
    height: 170px;
    background-color: bisque;
    text-align: center;
}
