
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.targeta{
    width: 250px;
    height: 300px;
    border: 1px dotted black;
    border-radius: 5px;
    margin-bottom: 10px;
}

.titol{
    text-align: center;
    color: red;
    height: 15%;
    border: 1px dotted black;
}

.exemple{
    height: 85%;
    border: 1px dotted black;
    display: flex;
    flex-direction: column;
}

.exemple1{
    display: flex;
    align-items: center;
    justify-content: center;    
}

#boto{
    width: 50px;
    height: 30px;
    /* background-color:blanchedalmond ;
    cursor: pointer; */
}

div > p {
    height: 30%;
    margin: 5px;
    text-align: justify;
}

/* #boto:hover{
    background-color: burlywood;
} */

ul{
    list-style: none;
}

/* legend{
    text-align: right;
} */


